@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css or HeroSection.css */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade {
  animation: fadeIn 1.5s ease-in forwards; /* Animation for the background */
}

.animate-fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Transition for text elements */
}

/* Add this to your styles.css or a relevant CSS file */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite; /* Adjust the duration as needed */
}


/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cedarville+Cursive&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Cedarville+Cursive&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.alfa-font{
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.abril-font{
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}


.cursive-font{
   font-family: 'Cedarville Cursive', cursive ;
   
}

.scroll-container {
  display: flex;
  gap: 1rem;
  overflow-x: scroll; /* Enable horizontal scrolling */
  scrollbar-width: none; /* For Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}


::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: #f1f5f9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: green;
}